<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PEngine.Creator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <PEngine.Creator.Properties.Settings>
      <setting name="Color_MainGray" serializeAs="String">
        <value>238, 238, 242</value>
      </setting>
      <setting name="Color_MainText" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="Font_H1" serializeAs="String">
        <value>Segoe UI, 24pt</value>
      </setting>
      <setting name="Font_H2" serializeAs="String">
        <value>Segoe UI, 20.25pt</value>
      </setting>
      <setting name="Color_Highlight" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="Color_HighlightText" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="Font_Status" serializeAs="String">
        <value>Segoe UI, 9pt</value>
      </setting>
    </PEngine.Creator.Properties.Settings>
  </applicationSettings>
</configuration>