[submodule "lib/game-dev-common"]
	path = lib/game-dev-common
	url = git@github.com:nilllzz/Game-Dev-Common.git
	branch = master
[submodule "lib/kolben"]
	path = lib/kolben
	url = git@github.com:nilllzz/kolben.git
	branch = master
